body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main_box {
  background: url("cam.webp");
  height: 100vh;
  background-size: cover;
}

.btn_one {
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
}

.sidebar_menu .btn_two i{
  color: white;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 275px;
  /* opacity: 0; */
  cursor: pointer;
}

.sidebar_menu {
  position: fixed;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(221, 221, 221, 0.1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100px;
  line-height: 60px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
  position: absolute;
  text-decoration: none;
  color: white;
  left: 50px;
  font-size: 20px;
  font-weight: 500;
}

.sidebar_menu .menu {
  position: absolute;
  top: 80px;
  width: 100%;
}

.sidebar_menu .menu ul > li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}

.sidebar_menu .menu li {
  margin: 10px;
  list-style: none;
  padding: 8px 8px;
}

.sidebar_menu .menu i{
    padding-right: 10px;
    color: white;
}

.sidebar_menu .social_media{
    position: absolute;
    top: 740px;
    font-size: 30px;
    left: 25px;
    
    
}
.sidebar_menu .social_media i{
    opacity: 0.5;
    color: white;
    padding: 4px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    color: white;
    transform: scale(1.5);
    transition: all 0.2s linear;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    font-size: 25px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.1s linear;
}

.btn_two i:hover{
    font-size: 30px;
    color: gray;
    transition: all 0.2s linear;
}

.btn_one i:hover{

    color: gray;
    transition: all 0.2s linear;
    font-size: 35px;
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one {
    opacity: 0;
}

